# Dados RESITIC

Criando e tratando um conjunto de dados com informações sobre os residentes da Residência em Tecnologia (TIC18) que podem ajudar a determinar o perfil dos residentes.

## Descrição do conjunto de dados

- **Identificador** : Uma chave que segue o padrao tic18PY-XXXXX, onde XXXXX é um numero iniciado com os 3 primeiros digitos do CPF do residente e os dois ultimos digitos são o ano de naascimento do residente.
- **Idade**: Idade do residente.
- **Formação**: Um numero inteiro, sendo:
  - 0: Formação técnica.
  - 1: Formação técnica graduação em andamento
  - 2: Graduação em andamento
  - 3: Graduação concluída
- **Área de formação Geral**: Se a formação do residente não for 0 (Formação técnica), então é um número inteiro, sendo:
  - 0: Engenharia
  - 1: Computação
- **Área de formação Específica**: Se a formação do residente não for 0 (Formação técnica) o campo sera uma string com o curso especícifo que está cursando ou cursou.
- **Andamento de graduação**: Se a formação do residente for 1 ou 2, possui um numero de ponto flutuante que indica o percentual de andamento do curso.
- **Tempo de formado**: Se a formação do residente for 3, possui um numero inteiro que indica o tempo de formado em anos.
- **Experiencia previa em programação**: Verdadeiro ou falso indicando se o residente possui experiência prévia em programação.

In [1]:
import pandas as pd
import numpy as np

# Exercicio 1: Criando um conjunto de dados

In [2]:
identificador = ["tic18Py08200", "tic18Py86001", "tic18Py05999"]
idade = [23, 22, 24]
formacao = [1, 1, 2]
formacao_geral = [1, 1, 0]
formacao_especifica = ["Ciência da Computação", "Ciência da Computação", "Engenharia Elétrica"]
andamento_graduacao = [66.0, 66.0, 99.0]
tempo_formacao = [None, None, None]
experiencia_previa = [True, True, True]

# Exercicio 2: Trabalhando com Series

## Criando as series

In [11]:
index = pd.Index(identificador)
idade = pd.Series(idade, index = index)
formacao = pd.Series(formacao, index = index)
formacao_geral= pd.Series(formacao_geral, index = index)
formacao_especifica = pd.Series(formacao_especifica, index = index)
andamento_graduacao = pd.Series(andamento_graduacao, index = index)
tempo_formacao = pd.Series(tempo_formacao, index = index).fillna(0)
experiencia_previa = pd.Series(experiencia_previa, index = index)

## Criando Funções para trabalhar com as series

In [4]:
def mediaIdade(idades):
    return idades.mean()

In [5]:
def membroMaisNovo(idades):
    return idades.min()

In [6]:
def membroMaisVelho(idades):
    return idades.max()

In [12]:
def formacaoPredominante(formacoes): 
    moda = formacoes.mode()
    predominate = []
    for i in moda:
        if i == 0 or i == 1:
            predominate.append('Técnico')
        elif i == 2:
            predominate.append('Graduando')
        else:
            predominate.append('Graduado') 
        
    return predominate

In [17]:
def formacaoGeralPredominante(formacoesGerais):
    formacoesGeraisPosssiveis = {
        0: "Engenharia",
        1: "Computação"
    }
    
    return formacoesGeraisPosssiveis[formacoesGerais.mode()[0]]

## Perfil do residente

In [ ]:
mediaIdade(idade)

## Formação predominante

In [ ]:
formacaoPredominante(formacao)

## Formação geral predominante

In [ ]:
formacaoGeralPredominante(formacao_geral)

# Exercicio 3: Trabalhando com DataFrames

In [77]:
data = pd.DataFrame({'Idade': idade, 'Formação': formacao, 
                        'Formação Geral': formacao_geral, 'Formação Específica': formacao_especifica, 
                        'Andamento Graduação': andamento_graduacao, 'Tempo Formação': tempo_formacao, 
                        'Experiência Prévia': experiencia_previa}, index = index)


print("Média de idade: ", mediaIdade(data.loc[:, 'Idade']))
print("Membro mais novo: ", membroMaisNovo(data.loc[:, 'Idade']))
print("Membro mais velho: ", membroMaisVelho(data.loc[:, 'Idade']))
print("Formação predominante: ", formacaoPredominante(data.loc[:, 'Formação']))
print("Formação geral predominante: ", formacaoGeralPredominante(data.loc[:, 'Formação Geral']))

data

Média de idade:  23.0
Membro mais novo:  22
Membro mais velho:  24
Formação predominante:  ['Técnico']
Formação geral predominante:  Computação

,Idade,Formação,Formação Geral,Formação Específica,Andamento Graduação,Tempo Formação,Experiência Prévia
tic18Py08200,23,1,1,Ciência da Computação,66.0,0,True
tic18Py86001,22,1,1,Ciência da Computação,66.0,0,True
tic18Py05999,24,2,0,Engenharia Elétrica,99.0,0,True

# Exercicio 4: Trabalhando com MultiIndex

In [113]:
def criar_index(equipe, abreviacao, turma):
    equipe['CPF (3 digitos)'] = equipe['CPF (3 digitos)'].astype(str).str.zfill(3)
    equipe['Ano nascimento'] = equipe['Ano nascimento'].astype(str).str.zfill(2).str[-2::]
    
    index = [('tic18'+ abreviacao+ equipe.loc[i, 'CPF (3 digitos)'] + equipe.loc[i, 'Ano nascimento'], turma) for i in range(len(equipe))]
    return index

In [118]:
equipe1 = pd.read_csv('dadosEquipes/Resitic - Equipe1.csv', index_col = False)
equipe2 = pd.read_csv('dadosEquipes/Resitic - Equipe2.csv', index_col = False)
equipe3 = pd.read_csv('dadosEquipes/Resitic - Equipe3.csv', index_col = False)

indice1 = criar_index(equipe1, 'Py', 'Python')
indice2 = criar_index(equipe2, 'Net', '.Net')
indice3 = criar_index(equipe3, 'Jav', 'Java')

index = indice1 + indice2 + indice3
index = pd.MultiIndex.from_tuples(index, names=['Identificador', 'Turma'])

turmas = pd.concat([equipe1, equipe2, equipe3])
turmas = turmas.drop(columns = ['CPF (3 digitos)', 'Ano nascimento'])

turmas.index = index
turmas

,,Idade,Formação,Engenharia ou Computação,Nome completo do curso,Percentual do curso,Anos de formado,Experiencia programação
Identificador,Turma,,,,,,,
tic18Py08200,Python,23,1,1,Ciencia da Computação,0.66,NaN,Sim
tic18Py86001,Python,22,1,1,Ciencia da Computação,0.66,NaN,Sim
tic18Py05999,Python,24,2,0,Engenharia Eletrica,0.99,NaN,Sim
tic18Net06799,.Net,24,3,1,Ciência da Computação,NaN,1.0,True
tic18Net07100,.Net,23,2,0,Engenharia Elétrica,90.16,NaN,True
tic18Net07799,.Net,24,2,0,Engenharia Química,76.94,NaN,True
tic18Net08099,.Net,24,2,0,Engenharia Química,75.58,NaN,True
tic18Net05996,.Net,27,1,0,Engenharia Química,81.38,NaN,True
tic18Jav06894,Java,29,3,1,Análise e Desenvolvimento de Sistemas,78.00,NaN,False
tic18Jav06200,Java,23,2,0,Engenharia Química,72.00,NaN,False
tic18Jav86399,Java,24,2,0,Engenharia química,70.16,NaN,False
tic18Jav05594,Java,29,3,0,Engenharia mecânica,NaN,4.0,False
tic18Jav05800,Java,23,2,0,Engenharia quimica,80.00,NaN,False